.grid-container {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 90vh 10vh;
}
ul {
  list-style: none;
}
#aside,
#empty {
  background: blue;
}
#conversation {
  background: green;
}
#form {
  background: orange;
}
#msg,
#send-location {
  margin: 1.4rem 1rem;
}
#msg {
  width: 40vw;
}
